#footer{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

#good-range{
    text-align: center;
}

#clients{
    display: flex;
    justify-content: space-evenly;
}
#two{
    width: 8%;
    height: 6%;
    border-radius: 30px;
    
}
#three{
    width: 8%;
    height: 2%;
    border-radius: 50px;

}

#love-our-clients{
    text-align: center;
}

#four{
    width: 8%;
    height: 5%;
    border-radius: 50px;
}

#latest-from-blog{
    display: flex;
    justify-content: space-evenly;
}

#cactus-tree{
    display: flex;
}

.fourPotsOne{
    display: flex;
     /* height: 260px;
     width: 227px;  */
     justify-content: space-evenly;
     margin-top: 8%;

}

#fourPotsTwo{
    display: flex;
     /* height: 260px;
     width: 227px;  */
     justify-content: space-evenly;
    
}

#fourPotsThree{
    display: flex;
     /* height: 260px;
     width: 227px;  */
     justify-content: space-evenly;
}

#tree-in-bottle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#tree{
    height: 610px;
     width: 686px;
   
}


#top-1{
    display: flex;
    background-color: rgb(77, 134, 77);
    gap: 15px;
    color: white;
}

#top-2{
    display: flex;
    gap:20px;
}


#all-plants{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 15px;

}

#sale{
    display: flex;
    justify-content: space-evenly;
}

#grow-orchid{
    display: flex;
}

#inspiration-plants{
    
}

#fall{
    display: flex;
}
#plants{
    display: flex;
    justify-content: space-evenly;
}

#house{
    display: flex;
}

#potted{
    display: flex;
}

#sal{
    display: flex;
}

#pots-1{
    display: flex;
    justify-content: space-evenly;
}

#pots-2{
    display: flex;
    justify-content: space-evenly;
}

#all-pots{
    display: flex;
    justify-content: space-evenly;
}

#glassK{
    display: flex;
    flex-direction: column;
    
    
}
#drift{
    text-align: center;
}

#featured-pdt{
    text-align: center;
    font-weight: bold;
}

#living-thing-grows{
    text-align: center;
    background-image: url(./images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    margin-bottom: 4%;
}

